version: '3.8'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: buyit
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./realm/buy-it.json:/opt/keycloak/data/import/buy-it.json
    command: start-dev --import-realm
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  tolgee:
    image: tolgee/tolgee:latest
    environment:
      TOLGEE_AUTHENTICATION_INITIAL_USERNAME: admin
      TOLGEE_AUTHENTICATION_INITIAL_PASSWORD: admin
      TOLGEE_POSTGRES_URL: jdbc:postgresql://postgres:5432/buyit
      TOLGEE_POSTGRES_USER: user
      TOLGEE_POSTGRES_PASSWORD: password
    ports:
      - "8085:8080"
    depends_on:
      - postgres

volumes:
  postgres_data:
